.postCreator {
    padding: 1rem;
    height: max-content;

    display: flex;
    gap: var(--spacing-small);

    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;

    @media (max-width: 900px) {
        width: 100%;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);

        @media (max-width: 900px) {
            width: 100%;
        }

        textarea {
            width: 300px;
            overflow: hidden;
            padding: 8px;

            border: none;
            border-radius: 16px;
            resize: none;
            font-size: 16px;
            background-color: var(--color-background);

            @media (max-width: 900px) {
                width: 100%;
            }

            @media (max-width: 600px) {
                font-size: 14px;
            }

            &:focus {
                outline: none;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }

        .actions {
            height: 20px;

            label {
                height: 100%;

                display: flex;
                align-items: center;
                cursor: pointer;
                width: max-content;
                svg {
                    height: 100%;
                    aspect-ratio: 1/1;
                    margin-right: var(--spacing-small);

                    color: var(--color-text-dark-secondary);
                    cursor: pointer;
                }

                input[type="file"] {
                    display: none;
                }
            }
        }

        button[type="submit"] {
            padding: 0.5rem;
            margin-top: 1rem;

            border: none;
            border-radius: 8px;

            background-color: var(--color-primary-400);
            color: var(--color-text-white-primary);
            cursor: pointer;

            &:hover {
                background-color: var(--color-primary-300);
            }
        }
    }
}
