@use '@/styles/mixins';

.commentsButton {
    padding-left: var(--spacing-small);

    background-color: inherit;
    border: none;
    border-left: 1px solid var(--color-border);
    color: var(--color-text-dark-secondary);
    cursor: pointer;
}

.commentContainer {
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .commentActions {
        display: flex;
    }
}

.comments {
    width: 100%;
    overflow: hidden;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    border-top: 1px solid var(--color-border);

    @media (max-width: 350px) {
        padding: 0.5rem 0;
    }

    .comment {
        width: max-content;
        max-width: 100%;
        padding: 0.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        background-color: rgb(241, 241, 241);
        border-radius: 16px;

        .commentHeader {
            display: flex;
            align-items: center;
            gap: var(--spacing-small);

            img {
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }

            .authorInfo {
                line-height: 1;
            }

            h3 {
                font-size: 14px;
            }

            time {
                font-size: 12px;
            }

        }

        .commentContent {
            p {
                white-space: pre-wrap;
                word-wrap: break-word;
                overflow-wrap: break-word;
                font-size: 14px;
            }
        }
    }

    .commentCreator {
        display: flex;
        align-items: end;
        gap: var(--spacing-small);

        .avatarContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }

        .inputContainer {
            margin-top: 0.5rem;
            width: 100%;

            display: flex;

            background-color: rgb(241, 241, 241);
            border-radius: 16px;

            transition: 0.2s;

            &:focus-within {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }

            &:focus-within button svg {
                color: var(--color-primary-400);
            }

            input {
                flex: 1;
                padding: 0.5rem 1rem;

                border: none;
                border-radius: 16px 0 0 16px;
                background-color: inherit;

                @media (max-width: 350px) {
                    padding: 0.5rem;
                }

                &:focus {
                    outline: none;
                }
            }

            button {
                width: 32px;
                height: 32px;

                @include mixins.flex-center;

                border-radius: 0 16px 16px 0;
                border: none;
                background-color: inherit;
                cursor: pointer;

                &:hover svg {
                    color: var(--color-primary-400);
                }

                svg {
                    width: 50%;
                    height: 50%;

                    color: var(--color-text-dark-secondary);
                    transition: 0.2s;
                }
            }
        }
    }
}

.modalMessage {
    margin: var(--spacing-medium) 0;
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-small);

    button {
        width: 50%;
    }
}
