.badge {
    position: absolute;
    background-color: var(--color-primary-400);
    color: var(--color-text-white-primary);
    border-radius: 100%;
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    bottom: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}
