.authWrapper {
    height: 100%;
    display: flex;

    transition: 0.5s ease;

    @media screen and (max-width: 1000px) {
        align-items: center;
        height: 50vh;
    }
}

.registerShown {
    transform: translateX(-100%);
}
