.likesContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font-size: 18px;

    button {
        height: 26px;
        width: 26px;

        background-color: inherit;
        border: none;

        &:hover svg {
            transform: scale(1.15);
        }

        svg {
            width: 100%;
            height: 100%;

            color: var(--color-primary-400);
            cursor: pointer;
            transition: 0.2s;
        }
    }
}

.commentLikes {
    margin-left: 0.5rem;

    gap: 0.125rem;

    font-size: 14px;

    button {
        height: 18px;
        width: 18px;
    }
}
